<%= form_with(model: group_payment_item) do |form| %>
  <% if group_payment_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_payment_item.errors.count, "error") %> prohibited this group_payment_item from being
        saved:</h2>

      <ul>
        <% group_payment_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
